<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html
	lang="fr">
	<!--<![endif]-->

	<head>
		<!-- =====  BASIC PAGE NEEDS  ===== -->
		<meta charset="utf-8">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
		</title>
		<!-- =====  SEO MATE  ===== -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="description" content="FINA SARL R.D Congo - Société des Technologie et d'Ingénierie, fabricaton des appareils éléctroménagers, système de commande à distance, gadgets high-tech à Lubumbashi - RD Congo">
		<meta name="keywords" content="Briquets élétroniques, Michée Alonge, éléctroménagers, système de commande à distance, gadgets high tech, Lubumbashi, RD Congo, Katanga, qualité, bon prix, Mike, Ventes, made in africa ">
		<meta name="distribution" content="global">
		<meta name="revisit-after" content="2 Days">
		<meta name="robots" content="ALL">
		<meta name="rating" content="8 YEARS">
		<meta name="Language" content="en-us">
		<meta
		name="GOOGLEBOT" content="NOARCHIVE">
		<!-- =====  MOBILE SPECIFICATION  ===== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta
		name="viewport" content="width=device-width">
		<!-- =====  CSS  ===== -->
		<link rel="stylesheet" type="text/css" href="{{asset('css/font-awesome.min.css')}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.css')}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('css/magnific-popup.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('css/owl.carousel.css')}}">

		<link rel="shortcut icon" href="{{asset('images/finacon.png')}}">
		<link rel="apple-touch-icon" href="{{asset('images/apple-touch-icon.png')}}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{asset('images/apple-touch-icon-72x72.png')}}">
		<link
		rel="apple-touch-icon" sizes="114x114" href="{{asset('images/apple-touch-icon-114x114.png')}}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<!-- =====  LODER  ===== -->
		<div class="loder"></div>
		<div class="wrapper">
			<div id="subscribe-me" class="modal animated fade in" role="dialog" data-keyboard="true" tabindex="-1">
				<div class="newsletter-popup">
					<img class="offer" src="images/newsbg.jpg" alt="offer">
					<div class="newsletter-popup-static newsletter-popup-top">
						<div class="popup-text">
							<div class="popup-title">50%
								<span>off</span>
							</div>
							<div class="popup-desc">
								<div>Sign up and get 50% off your next Order</div>
							</div>
						</div>
						<form onsubmit="return  validatpopupemail();" method="post">
							<div class="form-group required">
								<input type="email" name="email-popup" id="email-popup" placeholder="Enter Your Email" class="form-control input-lg" required/>
								<button type="submit" class="btn btn-default btn-lg" id="email-popup-submit">Subscribe</button>
								<label class="checkme">
									<input type="checkbox" value="" id="checkme"/>
									Dont show again</label>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- =====  HEADER START  ===== -->
			<header id="header">
				<div class="header-top">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="header-top-left">
									<div class="contact">
										<span class="hidden-xs hidden-sm hidden-md">Livraison du Lundi au Samedi</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-8">
								<ul class="header-top-right text-right">
									{% if app.user %}
										<li class="currency dropdown">
											<span class="dropdown-toggle" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
												Je t'aime
												{{app.user|title }}
												<span class="caret"></span>
											</span>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu12">
												<li>
													<a href="{#{url('app_user_show', {id: app.user.id })}#}">Mon profile
													</a>
												</li>
												<li>
													<a href="{#{url('app_achat_index')}#}">Mes achats
													</a>
												</li>
												<li>
													<a href="{{url('app_logout')}}">Déconnexion</a>
												</li>
											</ul>
										</li>
									{% else %}
										<li class="account">
											<a href="{{url('app_login')}}">Mon compte
											</a>
										</li>
									{% endif %}
									<li class="language dropdown">
										<span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Language
											<span class="caret"></span>
										</span>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li>
												<a href="#">English</a>
											</li>
											<li>
												<a href="#">Français</a>
											</li>
										</ul>
									</li>
									<li class="currency dropdown">
										<span class="dropdown-togglerr bg-success text-black" id="dropdownMenu12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
											$ 500
											{# <span class="caret"></span> #}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="header">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<div class="main-search mt_40">
									<input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg" autocomplete="off" type="text">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default btn-lg">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="navbar-header col-xs-6 col-sm-4">
								<a class="navbar-brand" href="index.html">
									<img alt="themini" src="images/logo.png">
								</a>
							</div>
							<div class="col-xs-6 col-sm-4 shopcart">
								<div id="cart" class="btn-group btn-block mtb_40">
									<button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
										<span id="shippingcart">Shopping cart</span>
										<span id="cart-total">items (0)</span>
									</button>
								</div>

								{# panier flottant  #}
								{% include "_partials/_panier_flottant.html.twig" %}

							</div>
						</div>

						{# read and display all flash messages #}
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="mb-2 alert alert-danger">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<strong>
										🗑
										{# {{ label|title }} #}
										!</strong>
									{{ message }}
								</div>
							{% endfor %}
						{% endfor %}

						<nav class="navbar">
							<p>menu</p>
							<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
								<span class="i-bar">
									<i class="fa fa-bars"></i>
								</span>
							</button>
							<div class="collapse navbar-collapse js-navbar-collapse">
								<ul id="menu" class="nav navbar-nav">
									<li>
										<a href="index.html">Home</a>
									</li>
									<li class="dropdown mega-dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection
										</a>
										<ul class="dropdown-menu mega-dropdown-menu row">
											<li class="col-md-3">
												<ul>
													<li class="dropdown-header">Women's</li>
													<li>
														<a href="#">Unique Features</a>
													</li>
													<li>
														<a href="#">Image Responsive</a>
													</li>
													<li>
														<a href="#">Auto Carousel</a>
													</li>
													<li>
														<a href="#">Newsletter Form</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Good Typography</a>
													</li>
												</ul>
											</li>
											<li class="col-md-3">
												<ul>
													<li class="dropdown-header">Man's</li>
													<li>
														<a href="#">Unique Features</a>
													</li>
													<li>
														<a href="#">Image Responsive</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Auto Carousel</a>
													</li>
													<li>
														<a href="#">Newsletter Form</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Good Typography</a>
													</li>
												</ul>
											</li>
											<li class="col-md-3">
												<ul>
													<li class="dropdown-header">Children's</li>
													<li>
														<a href="#">Unique Features</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Image Responsive</a>
													</li>
													<li>
														<a href="#">Auto Carousel</a>
													</li>
													<li>
														<a href="#">Newsletter Form</a>
													</li>
													<li>
														<a href="#">Four columns</a>
													</li>
													<li>
														<a href="#">Good Typography</a>
													</li>
												</ul>
											</li>
											<li class="col-md-3">
												<ul>
													<li id="myCarousel" class="carousel slide" data-ride="carousel">
														<div class="carousel-inner">
															<div class="item active">
																<a href="#"><img src="images/menu-banner1.jpg" class="img-responsive" alt="Banner1"></a>
															</div>
															<!-- End Item -->
															<div class="item">
																<a href="#"><img src="images/menu-banner2.jpg" class="img-responsive" alt="Banner1"></a>
															</div>
															<!-- End Item -->
															<div class="item">
																<a href="#"><img src="images/menu-banner3.jpg" class="img-responsive" alt="Banner1"></a>
															</div>
															<!-- End Item -->
														</div>
														<!-- End Carousel Inner -->
													</li>
													<!-- /.carousel -->
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="category_page.html">Shop</a>
									</li>
									<li>
										<a href="blog_page.html">Blog</a>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages
										</a>
										<ul class="dropdown-menu">
											<li>
												<a href="cart_page.html">Cart</a>
											</li>
											<li>
												<a href="checkout_page.html">Checkout</a>
											</li>
											<li>
												<a href="product_detail_page.html">Product Detail Page</a>
											</li>
											<li>
												<a href="single_blog.html">Single Post</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="about.html">About us</a>
									</li>
									<li>
										<a href="contact_us.html">Contact us</a>
									</li>
								</ul>
							</div>
							<!-- /.nav-collapse -->
						</nav>
					</div>
				</div>
			</header>
