<div id="cart" class="btn-group btn-block mtb_40">
	<button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
		<span id="shippingcart">Mon panier</span>
		<span id="cart-total">items ({{quantiteProduits}})</span>
	</button>
</div>
<div id="cart-dropdown" class="cart-menu collapse">
	<ul>
		<li>
			<table class="table table-striped">
				<tbody>
					{% for element in dataPanier %}
						<tr>
							<td class="text-center">
								<a href="#"><img width="30px" src="{{asset('uploads/images/produits/' ~ element.produit.photo624x800Premier)}}" alt="{{element.produit.nom}}" title="{{element.produit.nom}}"></a>
							</td>
							<td class="text-left product-name">
								<a href="#">{{element.produit.nom|upper}}</a>
								<span class="text-left price">
								{{ element.produit.prixVente|format_currency('USD') }}
								</span>
								<input disabled class="cart-qty" name="product_quantity" min="1" value="{{element.quantite}}" type="number">
							</td>
							<td class="text-center">
								<a class="close-cart" href="{{url('cart_remove',{'id': element.produit.id })}}">
									<i class="fa fa-times-circle"></i>
								</a>
								<a class="close-cart" href="{{url('cart_add',{'id': element.produit.id })}}">
									<i class="fa fa-plus-circle"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td class="text-center" colspan="2">Votre panier est vide
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</li>
		<li>
			<table class="table">
				<tbody>
					<tr>
						<td class="text-right">
							<strong>Sous-Total</strong>
						</td>
						<td class="text-right">
						{{ total|format_currency('USD') }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							<strong>Frais Livraison</strong>
						</td>
						<td class="text-right">
							{{ fraisLivraison|format_currency('USD') }}
						</td>
					</tr>
					<tr>
						<td class="text-right">
							<strong>Grand Total</strong>
						</td>
						<td class="text-right">
							{{ grandTotal|format_currency('USD') }}
						</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>
			{% if dataPanier|length > 0 %}
				<form action="{{url('cart_index')}}">
					<input title="Voir le panier" class="btn btn-danger pull-left mt_30" type="submit" value="Panier"/>
					<a class="btn pull-right btn-success mt_30" data-toggle="modal" data-target="#myModal2">Suivant</a>
				</form>
				{# <form action="{{url('app_achat_new')}}">
									<input title="Etape suivante" class="btn btn-success pull-right mt_30" type="submit" value="Suivant "/>
								</form> #}
			{% endif %}
		</li>
	</ul>
</div>
