{% if produits is defined and produits|length > 0 %}
	<div class="row ">
		<div
			class="col-sm-12 mt_30">
			<!-- =====  PRODUCT TAB  ===== -->
			<div id="product-tab" class="mt_10">
				<div class="heading-part mb_10 ">
					<h2 class="main_title">Nos gamme des produits</h2>
				</div>
				<ul class="nav text-right">
					<li class="active">
						<a href="#nArrivals" data-toggle="tab">Qualité
						</a>
					</li>
					<li>
						<a href="#Bestsellers" data-toggle="tab">Performance
						</a>
					</li>
					<li>
						<a href="#Featured" data-toggle="tab">Innovation
						</a>
					</li>
				</ul>

				<div class="tab-content clearfix box">
					<div class="tab-pane active" id="nArrivals">
						<div class="nArrivals owl-carousel">
							{% for produit in produits %}
								<div class="product-grid">
									<div class="item">
										<div class="product-thumb">
											<div class="image product-imageblock">
												<a href="{{url('product_view', {id: produit.id})}}">

													<img data-name="product_image" src="{{asset('uploads/images/produits/'~ produit.photo624x800Premier)}}" alt="{{produit}}" title="{{produit}}" class="img-responsive">
													{% if produit.photo624x800Deuxieme is defined  %}
													<img src="{{asset('uploads/images/produits/'~ produit.photo624x800Deuxieme)}}" alt="{{produit}}" title="{{produit}}" class="img-responsive">
													{% endif %}
												</a>
												<div class="button-group text-center">
													<div class="wishlist">
														<a href="#">
															<span>wishlist</span>
														</a>
													</div>
													<div class="quickview">
														<a href="#">
															<span>Quick View</span>
														</a>
													</div>
													<div class="compare">
														<a href="#">
															<span>Compare</span>
														</a>
													</div>
													<div class="add-to-cart">
														<a href="#">
															<span>Add to cart</span>
														</a>
													</div>
												</div>
											</div>
											<div class="caption product-detail text-center">
												<div class="rating">
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-1x"></i>
														<i class="fa fa-star fa-stack-1x"></i>
													</span>
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-1x"></i>
														<i class="fa fa-star fa-stack-1x"></i>
													</span>
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-1x"></i>
														<i class="fa fa-star fa-stack-1x"></i>
													</span>
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-1x"></i>
														<i class="fa fa-star fa-stack-1x"></i>
													</span>
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-1x"></i>
														<i class="fa fa-star fa-stack-x"></i>
													</span>
												</div>
												<h6 data-name="product_name" class="product-name">
													<a href="#" title="{{produit.nom}}">{{produit.nom}}..</a>
												</h6>

											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- =====  PRODUCT TAB  END ===== -->
		</div>
	</div>
{% endif %}
