  {{ include ("_partials/_haut.html.twig") }}

  <!-- =====  BANNER STRAT  ===== -->
{# <div class="banner">
<div class="banner"> #}
<div class="container ">
<div class="banner">
	<div class="main-banner owl-carousel">

		<div class="item">
			<a href="#">
      		{% if entreprise is defined and entreprise.mainBanner1903x650Un is defined %}
              <img   src="{{asset('uploads/images/produits/' ~ entreprise.mainBanner1903x650Un)}}" alt="{{entreprise.mainBanner1903x650Un}}" title="{{entreprise.mainBanner1903x650Un}}" class="img-responsive"/>
          {% else %}
                <img src="{{asset('images/main_banner1.jpg')}}" alt="Main Banner" class="img-responsive"/>
          {% endif %}
			</a>
		</div>
		<div class="item">
			<a href="#">
          {% if entreprise is defined and entreprise.mainBanner1903x650Deux is defined  %}
              <img   src="{{asset('uploads/images/produits/' ~ entreprise.mainBanner1903x650Deux)}}" alt="{{entreprise.mainBanner1903x650Deux}}" title="{{entreprise.mainBanner1903x650Deux}}" class="img-responsive"/>
          {% else %}
                <img src="{{asset('images/main_banner2.jpg')}}" alt="Main Banner" class="img-responsive"/>
          {% endif %}     
		   </a>
		</div>
	</div>
</div>
</div>
<!-- =====  BANNER END  ===== -->

    <!-- =====  CONTAINER START  ===== -->
    <div class="container mt_30">

    <!-- =====  SUB BANNER  STRAT ===== -->
	<div class="row">
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Shipping"></div>
				<h6>Livraison rapide </h6>
				<p>Sur tout de Lubumbashi</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Order"></div>
				<h6>Commandez en ligne </h6>
				<p>Heure : 8am - 11pm</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Save"></div>
				<h6>Achetez chez nous </h6>
				<p>Reduction pour gros achats</p>
			</div>
		</div>
		<div class="col-sm-3 mt_20 cms-icon ">
			<div class="feature-i-left ptb_30 ">
				<div class="icon-right Safe"></div>
				<h6>Achat securisé</h6>
				<p>Garantie securité 100%</p>
			</div>
		</div>
	</div>
      <div class="row ">
        <div id="column-left" class="col-12 ">

        {# {% block body %} #}
          
                {{ include ("_partials/_produits.html.twig") }}
                
            </div>
          </div>
          <!-- map  -->
          <div class="row">

            <div class="col-xs-12 map mb_80">
              <div id="maping">
              {{ include ('_partials/_map.google.html.twig')}}
              </div>
            </div>

          </div>
        {# {% endblock %} #}

        </div>



      </div>
    </div>
  </div>
  <!-- Single Blog  -->
  <!-- End Blog   -->
  <!-- =====  CONTAINER END  ===== -->

  {% include("_partials/_bas.html.twig") %}