{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Zone preferentielle de livraison </th>
                <td>{{ adresse.zoneLivraison }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adresse.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse.pays|country_name }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ adresse.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary " href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">modifier mon adresse  </a>

    {# {{ include('adresse/_delete_form.html.twig') }} #}
{% endblock %}
