{% extends 'base.html.twig' %}

{% block title %}Liste des Zones de Livraison
{% endblock %}

{% block body %}
	<table class="table table-dark table-bordered ">
		<thead>
			<tr>
				<th>#</th>
				<th>Zone</th>
				<th>Commentaires </th>
				<th>actions</th>
			</tr>
		</thead>
        <tfoot>
			<tr>
				<th>#</th>
				<th>Zone</th>
				<th>Commentaires </th>
				<th>actions</th>
			</tr>
		</tfoot>
		<tbody>
			{% for zone_livraison in zone_livraisons %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ zone_livraison }}</td>
					<td>{{ zone_livraison.description|raw }}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-sm btn-primary" href="{{ path('app_zone_livraison_show', {'id': zone_livraison.id}) }}">
							<span class="fa fa-search-plus"></span>
							</a>
							{% if is_granted("ROLE_ADMIN") %}
								<a class="btn btn-sm btn-secondary" href="{{ path('app_zone_livraison_edit', {'id': zone_livraison.id}) }}">
								<span class="fa fa-edit"></span>
								</a>
							{% endif %}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">aucun enregistrement dans le système </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
